body {
    background-color: #000000;
    text-align: center;
}

h1 {
    color: #ffffff;
}

.ball {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    position: absolute;
    display: inline-block;
}

#blueBall {
    background-color: #0000ff;
    left: 11%;
}

#redBall {
    background-color: #ff0000;
    left: 33%;
}


#greenBall {
    background-color: #00ff00;
    left: 55%;
}

#yellowBall {
    background-color: #ffff00;
    left: 77%;
}
